html,
body {
	height: 100%;
	margin: 0;
	background: #7474bf; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #348ac7, #7474bf); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#348ac7,
		#7474bf
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.workout-card {
	min-width: 500px;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	white-space: pre-wrap;
	padding: 3em 2em;
	border-radius: 1rem;
}

.workout-description {
	font-size: 18px;
}

.date-tile {
	width: 105px;
	height: 105px;
	border-radius: 10px;
	margin: 20px 10px;
	border: none;
}

.month {
	text-align: center;
	width: 100%;
	color: whitesmoke;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #348ac7;
}

.date {
	font-size: 36px;
	font-weight: 500;
}

p {
	padding: 10px 10px;
}

@media (max-width: 575.98px) {
	.workout-card {
		min-width: 99%;
		max-width: 99%;
	}

	h1 {
		font-size: 25px;
	}
}
